<header class="site-header">
    <br>
    <!-- Top header Close -->
    <div class="main-header">
        <div class="container">
            <div class="logo-wrap" itemprop="logo">
                <a href="inicio.html"><img src="https://github.com/angelftagle/gogru/blob/main/images/site-logo.jpg?raw=true" class="imgcenter" alt="Logo Image" width="70" height="75"></a>
                <!-- <h1>Education</h1> -->
            </div>
            <h1 align="center"> Sistema de Gestión de Ticket's Gogru Ticket's</h1>
            <div class="nav-wrap">
                <nav class="nav-desktop">
                    <ul class="menu-list">
                        <li><a href="inicio.html">Inicio</a></li>
                        <li><a href="nuevo.html">Nuevo</a></li>
                        <li><a href="generados.html">Tickets Generados</a></li>
                        <li><a href="proceso.html">Tickets en Procesos</a></li>
                        <li><a href="cerrados.html">Tickets Cerrados</a></li>
                        <li><a href="cancelados.html">Tickets Cancelados</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </header>