<footer>
	<section class="query-section">
		<nav class="headertop">
            <div class="top-header-right">
                <div class="social-block">
                    <ul class="social-list">
                        <li><a href="tel:+52 5617345208" itemprop="telephone"><i class="fas fa-phone"></i> +52 5617345208</a></li>
                        <li><a href="mailto:informes@gogru.com" itemprop="email"><i class="fas fa-envelope"></i> mailto:ticket@gogru.com</a></li>
                        <li><a href=""><i class="fab fa-viber"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</section>

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/lightbox.js"></script>
	<script type="text/javascript" src="js/all.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.rateyo.js"></script>
	<!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
	<!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
	<script type="text/javascript" src="js/custom.js"></script>
</footer>